---
title: Applied Networking Research Workshop (ANRW&nbsp;’17)
menu: ANRW&nbsp;’17
order: 10
location: Prague, Czech Republic
date: July 15, 2017
ietf: IETF-99
---

%div.row
  %div.col-sm-8.col-xs-12
    %p
      The ACM, IRTF &amp; ISOC Applied Networking Research Workshop 2017
      (#{@item[:menu]}) provides a forum for researchers, vendors, network operators
      and the Internet standards community to present and discuss emerging results
      in applied networking research.

    %p
      Researchers should consider submitting
      early emerging results that illustrate the scientific and engineering
      principles underlying the Internet architecture, protocols and applications;
      that demonstrate new capabilities, features, or extensions to the Internet
      protocol layers; that enhance our understanding of how Internet protocols work
      in real-world deployments or realistic testbeds; or that improve Internet
      security and privacy, scalability, performance, and robustness.

    %p.lead= render '/anrw/2017/place_.*'

    %h2 Important Dates
    = render '/anrw/2017/dates_.*'

    %h2 Supporters and Sponsors
    = render '/anrw/2017/supporters_.*'
    = render '/anrw/sponsors_.*'

  %div.col-sm-4.d-none.d-sm-block
    %img.img-fluid{ src: 'photo.jpg', alt: "#{@item[:location]}" }
    %p.text-muted
      %small
        %a{ href: 'https://www.flickr.com/photos/bradhammonds/9651948027/' } 'Prague Castle'
        by Brad Hammonds
        %a{ href: 'https://creativecommons.org/licenses/by-nc/2.0/' } (CC BY-NC 2.0)

