---
title: ANRW&nbsp;’17 Program
menu: Program
---

%h1 Workshop Program

%p= render "/anrw/2017/place_.*"

%p
  The workshop is open to all;
  %a{ :href => "https://www.internetsociety.org/form/anrw" }
    registration and payment of the registration fee
  is however required.


%h2 Program

- json = "content/anrw/2017/anrw17-data.json"
- xml = "content/anrw/2017/anrw17.xml"
%table.table.table-striped.no-urlify
  %thead
    %tr
      %th
        Time
      %th
        Session
      %th
        Session Chair
  %tbody
    %tr
      %td
        %h4.text-danger 9:00
      %td
        %h4.text-danger Opening
      %td

    %tr
      %td
        %h4.text-danger 9:15
      %td
        %h4.text-danger Session: Measurements
        %p
        .row= htmlify_paper_new(json, 9)
        .row= htmlify_paper_new(json, 7)
        .row= htmlify_paper_new(json, 17)
      %td
        %h5.text-danger Mirja Kühlewind

    %tr
      %td
        %h4.text-danger 10:45
      %td
        %h4.text-danger Coffee Break
      %td

    %tr
      %td
        %h4.text-danger 11:15
      %td
        %h4.text-danger Session: Transport
        %p
        .row= htmlify_paper_new(json, 5)
        .row= htmlify_paper_new(json, 16)
        .row= htmlify_paper_new(json, 8)
        .row= htmlify_paper_new(json, 13)
      %td
        %h5.text-danger Spencer Dawkins

    %tr
      %td
        %h4.text-danger 13:00
      %td
        %h4.text-danger Lunch Break
      %td

    %tr
      %td
        %h4.text-danger 14:00
      %td
        %h4.text-danger Session: Implementation & Operations
        %p
        .row= htmlify_paper_new(json, 3)
        .row= htmlify_paper_new(json, 6)
        .row= htmlify_paper_new(json, 20)
      %td
        %h5.text-danger Aaron Falk

    %tr
      %td
        %h4.text-danger 15:30
      %td
        %h4.text-danger Coffee Break
      %td

    %tr
      %td
        %h4.text-danger 16:00
      %td
        %h4.text-danger Panel: Internet Health Metrics
        %p
        .row= htmlify_paper_new(json, 3)
      %td

    %tr
      %td
        %h4.text-danger 17:00
      %td
        %h4.text-danger Adjourn
      %td