---
title: Applied Networking Research Workshop (ANRW&nbsp;’24)
menu: ANRW&nbsp;’24
order: 1
location: Vancouver, Canada
date: Tuesday, July 23, 2024
ietf: IETF-120
---

%div.row
  %div.col-sm-8.col-xs-12
    %p
      The ACM/IRTF Applied Networking Research Workshop 2024 (ANRW’24) is an
      academic workshop that provides a forum for researchers, vendors, network
      operators, and the Internet standards community to present and discuss
      emerging results in applied networking research, and to find inspiration
      from topics and open problems discussed at the IETF. The workshop will
      consist of a mix of invited talks, submitted talks, and submitted short
      papers.

    %p 
      ANRW’24 particularly encourages the submission of results that could
      form the basis for future engineering work in the IETF, help
      better specify Internet protocols, change operational Internet
      practices, or influence further research and experimentation
      in the IRTF. ANRW’24 is sponsored by ACM SIGCOMM, and the Internet
      Research Task Force (IRTF).

    %p.lead= render '/anrw/2024/place_.*'

    %h2 Important Dates
    = render '/anrw/2024/dates_.*'

    %h2 Supporters and Sponsors
    = render '/anrw/2024/supporters_.*'
    = render '/anrw/sponsors_.*'

  %div.col-sm-4.d-none.d-sm-block
    %img.img-fluid{ src: 'photo.jpg', alt: "#{@item[:location]}" }
    %p.text-muted
      %small
        %a{ href: 'https://unsplash.com/photos/19aJ-K6fUmY' } Photo
        by Vlad D on
        %a{ href: 'https://unsplash.com/' } Unsplash

