---
title: Applied Networking Research Workshop (ANRW&nbsp;’19)
menu: ANRW&nbsp;’19
order: 1
location: Montreal, Quebec, Canada
date: Monday, July 22, 2019
ietf: IETF-105
---

.hidden-xs.pull-right.col-sm-4
  %img.img-thumbnail.img-responsive{ src: 'photo.jpg', alt: "#{@item[:location]}" }
    %p.text-muted
      %small
        %a{ href: 'https://unsplash.com/photos/BC8bitj5J1c' } 'Parc de Dieppe'
        by Marc-Olivier Jodoin on
        %a{ href: 'https://unsplash.com/' } Unsplash

%p
  The ACM, IRTF & ISOC Applied Networking Research Workshop 2019 (ANRW’19) is an academic workshop that provides a forum for researchers, vendors, network operators, and the Internet standards community
  to present and discuss emerging results in applied networking research. The workshop offers an opportunity for academics <strong>to transition research back into IETF standards and protocols and to find
  inspiration from topics and open problems discussed at the IETF</strong>. The workshop will consist of a mix of invited talks, submitted talks, and submitted short papers.
%p 
  ANRW ’19 particularly encourages the submission of results that could form the basis for future engineering work in the IETF, that could help better specify Internet protocols, that could
  change operational Internet practices, or that could influence further research and experimentation in the IRTF. ANRW ‘19 is sponsored by ACM SIGCOMM, and the Internet Research Task Force (IRTF).

%p.lead= render '/anrw/2019/place_.*'

-# %p.btn-toolbar
-#   %a.btn.btn-primary.btn-lg{ href: 'https://www.internetsociety.org/form/anrw', role: 'button' } Attend »
-#   %a.btn.btn-primary.btn-lg{ href: 'cfp', role: 'button' } Call for Papers »
-#   %a.btn.btn-primary.btn-lg{ href: 'https://anrw19.hotcrp.com/', role: 'button' } Start a submission »
-#   %a.btn.btn-success.btn-lg{ href: 'program', role: 'button' } Workshop program »
-#   %a.btn.btn-info.btn-lg{ href: 'travelgrants', role: 'button' } Student travel grants »

%h2 Important Dates
= render '/anrw/2019/dates_.*'

%h2 Supporters and Sponsors
= render '/anrw/2019/supporters_.*'
= render '/anrw/sponsors_.*'
