---
title: IRTF Chair
---

%h2 Responsibilities

%p The IRTF is managed by the IRTF Chair in consultation with the Internet Research Steering Group (IRSG). The IRTF Chair is appointed by the IAB. RFC7827 details the role of the Chair further.

%p The IRTF Chair is responsible for ensuring that Research Groups produce coherent, coordinated, architecturally consistent and timely output as a contribution to the overall evolution of the Internet architecture. In addition to the detailed tasks related to Research Groups outlined below, the IRTF Chair may also from time to time arrange for topical workshops attended by the IRSG and perhaps other experts in the field.

%dl
  %dt
    %b Planning
  %dd The IRTF Chair monitors the range of activities. This may include encouraging the formation of Research Groups directly, rather than waiting for proposals from IRTF participants.
  %dt
    %b Coordination of Research Groups
  %dd The IRTF Chair coordinates the work done by the various Research Groups.
  %dt
    %b Reporting
  %dd The IRTF Chair reports on IRTF progress to the to the IAB and the wider Internet community.
  -# (including via the IMR).
  %dt
    %b Progress Tracking
  %dd The IRTF Chair tracks and manages the progress of the various Research Groups with the aid of a regular status report on documents and accomplishments from the Research Group Chairs.
  -# The resulting reports are made available to the community at large at regular intervals.

%p Anyone interested in creating an IRTF Research Group must submit a charter for the proposed group to the IRTF Chair along with a list of proposed founding members. The formation of a Research Group requires a charter which is initially negotiated between a prospective Research Group Chair and the IRTF Chair. When the prospective Chair and the IRTF Chair are satisfied with the charter form and content, it becomes the basis for forming a Research Group.


%h2 Current Chair

%img.img-thumbnail.pull-right{ :src => "img/csp.jpg", :width => 200, :height => 300, :alt => "Colin Perkins" }

%p
  %a{ :href => $chair.web } Colin Perkins
  is a Senior Lecturer (Associate Professor) in the School of Computing Science at the University of Glasgow. His research interests are on transport protocols for real-time and interactive multimedia, and on network protocol design, implementation, and specification. He’s been a participant in the IETF and IRTF since 1996, working primarily in the transport area where he co-chairs the RMCAT working group and is a past chair of the AVT and MMUSIC working groups, and in related IRTF research groups. He proposed and co-chaired the first Applied Networking Research Workshop (ANRW), and has been a long-term participant in the Applied Networking Research Prize (ANRP) awarding committee. He received his BEng in Electronic Engineering in 1992, and my PhD in 1996, both from the Department of Electronics at the University of York.

%h2 Past Chairs
%ul
  %li= link_to("Dave Clark", "https://en.wikipedia.org/wiki/David_D._Clark") + ", 1989--1992"
  %li= link_to("Jon Postel", "https://en.wikipedia.org/wiki/Jon_Postel") + ", 1992--1995"
  %li Abel Weinrib, 1995--1999
  %li= link_to("Erik Huizer", "https://huison.home.xs4all.nl/Huizer/") + ", 1999--2001"
  %li= link_to("Vern Paxson", "http://www.icir.org/vern/") + ", 2001--2005"
  %li= link_to("Aaron Falk", "https://www.linkedin.com/in/aaronfalk") + ", 2005--2011"
  %li= link_to("Lars Eggert", "https://eggert.org") + ", 2011--2017"
  %li= link_to("Allison Mankin", "https://datatracker.ietf.org/person/Allison%20Mankin") + ", 2017--2019"
