---
title: IRTF Chair
---

%h2 Responsibilities

%p The IRTF is managed by the IRTF Chair in consultation with the Internet Research Steering Group (IRSG). The IRTF Chair is appointed by the IAB.

%p The IRTF Chair is responsible for ensuring that Research Groups produce coherent, coordinated, architecturally consistent and timely output as a contribution to the overall evolution of the Internet architecture. In addition to the detailed tasks related to Research Groups outlined below, the IRTF Chair may also from time to time arrange for topical workshops attended by the IRSG and perhaps other experts in the field.

%dl
  %dt Planning
  %dd The IRTF Chair monitors the range of activities. This may include encouraging the formation of Research Groups directly, rather than waiting for proposals from IRTF participants.
  %dt Coordination of Research Groups
  %dd The IRTF Chair coordinates the work done by the various Research Groups.
  %dt Reporting
  %dd The IRTF Chair reports on IRTF progress to the to the IAB and the wider Internet community.
  -# (including via the IMR).
  %dt Progress Tracking
  %dd The IRTF Chair tracks and manages the progress of the various Research Groups with the aid of a regular status report on documents and accomplishments from the Research Group Chairs.
  -# The resulting reports are made available to the community at large at regular intervals.

%p Anyone interested in creating an IRTF Research Group must submit a charter for the proposed group to the IRTF Chair along with a list of proposed founding members. The formation of a Research Group requires a charter which is initially negotiated between a prospective Research Group Chair and the IRTF Chair. When the prospective Chair and the IRTF Chair are satisfied with the charter form and content, it becomes the basis for forming a Research Group.


%h2 Current Chair

%img.right{ :src => "img/lars-2011.jpg", :width => 200, :height => 240, :alt => "Lars Eggert" }

%p
  %a{ :href => $chair.web } Lars Eggert
  is Technical Director for Networking in NetApp’s Office of the CTO, based in Munich, Germany. He senior Internet technologist with deep expertise in architectures, end-to-end protocols such as TCP, virtualization, measurements and resource scheduling, among others. In addition to driving NetApp’s networking agenda, he is active in collaborative scientific research projects with leading universities and corporate labs. Lars has also been leading Internet standardization efforts as a steering group member and working group chair of the IETF, and he currently chairs the IRTF, the IETF’s research arm. He is a senior member of the ACM and the IEEE, and serves on the program and organization committees of many academic conferences and workshops, such as ACM SIGCOMM and IEEE Infocom. In addition, he serves on a number of other committees, such as the IEEE Internet Award committee, ACM SIGCOMM’s Industrial Advisory Board, and others. Lars received his Ph.D. in Computer Science from the University of Southern California (USC) in 2003. Before joining NetApp in 2011, he was a Principal Scientist at Nokia Research Center in Helsinki, Finland and one of Nokia’s most senior technology experts, serving on the corporation’s CTO Technology Council. For a number of years, Lars was an Adjunct Professor at Aalto University, Finland’s premier technical university. Before that, he was a senior researcher at NEC Laboratories.

%h2 Past Chairs
%p= link_to("Dave Clark", "http://en.wikipedia.org/wiki/David_D._Clark") + ", 1989--1992"
%p= link_to("Jon Postel", "http://en.wikipedia.org/wiki/Jon_Postel") + ", 1992--1995"
%p Abel Weinrib, 1995--1999
%p= link_to("Erik Huizer", "http://people.cs.uu.nl/huizer/") + ", 1999--2001"
%p= link_to("Vern Paxson", "http://www.icir.org/vern/") + ", 2001--2005"
%p= link_to("Aaron Falk", "http://www.linkedin.com/in/aaronfalk") + ", 2005--2011"
