---
title: Internet Research Task Force
---

%p.lead The Internet Research Task Force (IRTF) promotes research of importance to the evolution of the Internet by creating focused, long-term Research Groups working on topics related to Internet protocols, applications, architecture and technology.

.row
  .col-sm-8
    %h2 Overview

    %p
      The
      %span.term Internet Research Task Force
      (IRTF) focuses on longer term research issues related to the Internet while the parallel organization, the
      %span.term Internet Engineering Task Force
      (IETF), focuses on the shorter term issues of engineering and standards making.

    %p
      The IRTF is a composed of a number of focused and long-term
      %span.term Research Groups.
      These groups work on topics related to Internet protocols, applications, architecture and technology. Research Groups have the stable long term membership needed to promote the development of research collaboration and teamwork in exploring research issues.  Participation is by individual contributors, rather than by representatives of organizations.

    %p
      The IRTF is managed by the
      %span.term IRTF Chair
      in consultation with the
      %span.term Internet Research Steering Group
      (IRSG). The IRSG membership includes the IRTF Chair, the chairs of the various Research Groups and other individuals ("members at large") from the research community selected by the IRTF Chair.

    %p
      The RFC Editor publishes documents from the IRTF and its Research Groups on the
      %span.term IRTF Stream
      (RFC5743).

    %h2 More Information

    %p The detailed IRTF Research Group guidelines and procedures are described in RFC2014. In RFC4440, the Internet Architecture Board (IAB) further details the role of the IRTF.

    %p The procedures for publishing documents on the IRTF RFC Stream are defined in RFC5743, with additional details found in RFC5742. The concept of RFC Streams is defined in RFC4844.

    %p
      The IRTF follows the IETF
      %a{ :href => "ipr" } Intellectual Property Rights
      (IPR) disclosure rules. Also see Section 3.2 of RFC5743.

    %p
      The
      %a{ :href => "https://www.ietf.org/iesg/statement/ietf-anti-harassment-policy.html" } IETF Anti-Harassment Policy
      also applies to the IRTF.


    %h2 Current Research Groups

    %p These #{$rgs.count} Research Groups are currently chartered:

    = render "/rgtiles_.*"


  .col-sm-4.rightbar.pushed-down
    .well

      -# %h2 2017 ANRP Nominations Open
      -# %p
      -#   %a{ :href => "anrp/2017"} Submit nominations
      -#   for the 2017 award period of the
      -#   %a{ :href => "anrp"} Applied Networking Research Prize
      -#   until
      -#   %span.term November 6, 2016!

      %h2 2017 ANRP Awards for IETF-99
      %p
        Two
        %a{ :href => "anrp" } Applied Networking Research Prizes
        for 2017 will be awarded at IETF-99 and go to
        %a{ :href => "https://www.cs.uic.edu/~s/" } Stephen Checkoway
        and
        %a{ :href => "https://net.t-labs.tu-berlin.de/~prichter/" } Philipp Richter.

      %h2 New IRTF Chair Selected
      %p
        The IAB has selected
        %a{ :href => "#{$mankin.web}" } #{$mankin.name}
        as the next IRTF Chair, starting March 2017.

      -# %h2 New Research Group
      -# %p New "Measurement and Analysis for Protocols" (MAPRG) research group chartered.


      -# %h2 ANRW ’16 Program Available
      -# %p
      -#   The program for the
      -#   inaugural
      -#   ACM, IRTF & ISOC workshop on
      -#   %a{ :href => "anrw/2016/" } Applied Networking Research
      -#   taking place Saturday, July 16 before IETF-96 in Berlin
      -#   %a{ :href => "anrw/2016/program" } is now available.
      -# %p
      -#   %a.btn.btn-primary.btn-sm{ :href => "anrw/2016/attend", :role => "button" } Register & participate »
      -# %p
      -#   %a{ :href => "anrw/2016/cfp" } Submit papers
      -#   to the inaugural
      -#   ACM, IRTF & ISOC workshop on
      -#   %a{ :href => "anrw/2016/" } Applied Networking Research
      -#   taking place Saturday, July 16 before IETF-96 in Berlin.

    %h2 Chair
    %p
      The current IRTF Chair is
      %a{ :href => $chair.web } Allison Mankin 
      = "(" + link_to("irtf-chair@irtf.org", "mailto:irtf-chair@irtf.org") + ")."

    %h2 Mailing Lists
    %p
      %a{:href => "/mailman/listinfo/irtf-announce"} irtf-announce@irtf.org
      is a low-volume announcement list for Research Group creations and conclusions, IRTF RFC publication, etc.
    %p
      %a{:href => "/mailman/listinfo/irtf-discuss"} irtf-discuss@irtf.org
      is the main discussion list for general IRTF topics.

    %h2 Wiki
    %p
      A wiki with more information about the IRTF is
      = link_to("here", "https://trac.tools.ietf.org/group/irtf/trac/wiki") + "."

