---
title: Internet Research Steering Group (IRSG)
---

.row
  .col-sm-9
    %p The IRTF is managed by the IRTF Chair in consultation with the Internet Research Steering Group (IRSG). The IRSG membership includes the IRTF Chair, the chairs of the various Research Groups and other individuals ("members at large") from the research or IETF communities.

    %p IRSG members at large are chosen by the IRTF Chair in consultation with the rest of the IRSG and on approval by the IAB.

    %p In addition to managing the Research Groups, the IRSG may from time to time hold topical workshops focusing on research areas of importance to the evolution of the Internet, or more general workshops to, for example, discuss research priorities from an Internet perspective.

    %p The IRSG also reviews and approves documents published as part of the IRTF Document Stream (RFC5743).

    %p
      The current IRSG membership includes the IRTF Chair,
      - chairs = {}
      - $rgs.values.sort.each {|r| r.chairs.sort.each {|c|
      -   chairs[c.email] = c
      - }}
      = chairs.length
      Research Group Chairs and
      = $atlarge.length
      At-Large Members:

    %ul
      %li= $chair.hamlify + ", IRTF Chair"

      - $atlarge.sort.each do |p|
        %li= p.hamlify + ", At-Large Member"

      - chairs.values.each {|c|
      %li= c.hamlify + ", " + $rgs.values.select{|r| r.chairs.include?(c)}.map{|r| r.url}.join(" &amp; ") + " Chair"
      - }

  .col-sm-3.rightbar
    %h2 Chair
    %p
      The IRSG is chaired by the IRTF Chair,
      %a{ :href => $chair.web } Lars Eggert
      = "(" + link_to("irtf-chair@irtf.org", "mailto:irtf-chair@irtf.org") + ")."


    %h2 Mailing Lists
    %p
      %a{:href => "/mailman/listinfo/irsg"} irsg@irtf.org
      is the private discussion list of the IRSG.

    %h2 Wiki
    %p
      The main
      %a{ :href => "https://trac.tools.ietf.org/group/irtf/trac/wiki" } IRTF wiki
      is used by the IRSG to manage its activities.
