---
---

-# convenience shortcuts
- rg = $rgs[item.identifier.without_ext.tr("/", "")]
- name = rg.name
- acronym = rg.acronym.upcase

%h2 Background

%p
  Our Internet has grown into something that differs from what was
  envisioned. Its protocols sometimes operate in an environment other
  than than that for which they were designed. For instance, some
  network elements treat some protocols differently than others and
  those protocols themselves are sometimes reused and abused in ways
  initially unforeseen. The #{name} (MAP) Research Group (RG) explores
  such phenomena by measurement with the aim to inform protocol
  engineering and practice.

%p
  Many protocol engineering efforts in a standards development
  context, as well as best practices for the operation of IETF-defined
  protocols, can benefit from insight provided by Internet
  measurements of various kinds. Likewise, Internet measurement
  research efforts can stand to gain from contacts with the IETF. The
  #{name} Research Group (#{acronym}) aims to provide a forum for
  interchange between these two communities, supporting:

%ul
  %li
    exchange of measurement-derived insight;
  %li
    discussion of techniques and best practices for measurement
    relevant to protocol engineering and network operations;
  %li
    collaborations to share data supporting these measurements; and
  %li
    a "landing pad" for the Internet measurement community to
    introduce its efforts to the IETF.


%h2 Membership

%p
  Membership in the #{acronym} is open to all interested parties.

%h2 Meetings

%p
  The #{acronym} will meet one to three times per year, as deemed
  necessary by the chairs and according to demand. At least one #{acronym}
  meeting will be co-located with an IETF meeting per year. Given the
  #{acronym}'s charter to bridge the gap between Internet standards and
  measurement communities, the #{acronym} may also meet collocated with
  relevant academic conferences or network operator forums, as
  appropriate.

%p
  Meetings are by default open with open attendance and published
  proceedings, with remote participation and recording as provided by
  the meeting venue, according to the IRTF's IPR policy. This is
  always the case with at least one #{acronym} meeting co-located with an
  IETF meeting noted above. However, as deemed necessary, the chairs
  may hold virtual or physical meetings with restricted attendance to
  discuss observations which cannot be shared openly, provided that
  some outcome of such a meeting may be openly shared with the
  community.
