--- 
---

-# convenience shortcuts
- rg = $rgs[item.identifier.without_ext.tr("/", "")]
- name = rg.name
- acronym = rg.acronym.upcase

%h2 Charter

%p
  The
  %span.term #{name} 
  (#{acronym})
  provides a forum for researchers to explore new technologies for the
  management of the Internet. In particular, the #{acronym} will work on
  solutions for problems that are not yet considered well understood enough
  for engineering work within the IETF.

%p
  The focus of the #{acronym} will be on management services that interface with
  the current Internet management framework. This includes communication
  services between management systems, which may belong to different
  management domains, as well as customer-oriented management services. The
  #{acronym} is expected to identify and document requirements, to survey
  possible approaches, to consider new architectural frameworks, to provide
  specifications for proposed solutions, and to prove concepts with
  prototype implementations that can be tested in large-scale real-world
  environments.

%p
  The IETF Operations and Management Area Directors are members of the #{acronym}
  mailing list and invited to #{acronym} meetings in order to ensure free flow of
  information in both directions, and to avoid duplication of work with the
  various IETF working groups.

%p
  The group will report its progress through a publicly accessible web site
  and presentations at IETF meetings. Specifications developed by the #{acronym}
  will be submitted for publication as Experimental or Informational RFCs.


%h2 Membership

%p
  Membership in the #{acronym} is open to all interested parties.


%h2 Meetings

%p
  Regular working meetings are held about three to five times per year at
  locations convenient to the majority of the participants. Working
  meetings vary from hours-long working sessions (typically when held as
  part of IETF meetings) to days-long meetings when co-located with
  conferences or events related to network management.

%p
  Regular virtual meetings are also organized on a monthly or per-need basis.


%h2 Research Activities (2017-2022)

%p
  The constant evolution of networking technologies, in scale, versatility,
  and heterogeneity, generates operational complexity and demands novel
  disruptive management solutions to address it.  The #{acronym} will prioritize
  investigation of three related topics: 1) self-driving/-managing
  networks, 2) intent-based networking and 3) artificial intelligence in
  network management.  Note: beyond these three topics, the #{acronym} remains
  open to presentation of other topics of interest.

%p
  While the ultimate goal of self-driving/-managing networks is fully
  autonomous network operations, there will be intermediate levels where
  the human users remain “in the loop” and are progressively assisted and
  replaced by more and more intelligent mechanisms. Interfaces between
  humans and a self-driving system are important and required to allow
  bidirectional communications. On one hand, the user must be able to
  express guidance and its needs without having to handle the full
  complexity of the underlying infrastructures. On the other hand, users
  must understand the decisions which were taken and the reasons why, be
  informed about the future actions the system will initiate and also be
  provided with recommendations. 

%p
  In this area, Intent-Based Networking (IBN) provides high-level,
  user-friendly abstractions to describe business and operational goals,
  and alleviates the need for the user to know and derive the technical
  details on how to achieve those goals. IBN is an essential component of
  self-driving networks but requires the introduction of intelligent
  mechanisms to properly process intents with as little human involvement
  as possible. 

%p
  Certainly, some of those intelligent mechanisms can rely on advances in
  (but should not be limited to) Artificial Intelligence (AI). While
  different forms of AI have been used for decades in network management,
  the combined progress in amount of data, computing power, AI algorithms
  and flexible capabilities of networks in recent years makes highly
  relevant to re-examine in depth the coupling between AI and network
  management. 



