---
title: <small>ACM, IRTF & ISOC</small><br> Applied Networking Research Workshop
logo_hidden: true
---

- loc = @item.path =~ /^\/[^\/]*$/ ? "" : @item.path.gsub(/\w+\.\w+$/, "").gsub(/[^\/\.]+/, "..").gsub(/^\//, "")

= render "/anrw/sponsors_.*", :noblurb => true

-# .alert.alert-danger.alert-dismissible
-#   %button{ :type => "button", :class => "close", "data-dismiss" => "alert", "aria-label" => "Close"}
-#     %span{ "aria-hidden" => "true"} &times;
-#   %span.glyphicon.glyphicon-alert{ "aria-hidden" => "true" }
-#   Do not share URL with others yet!

%p.lead
  The ACM, IRTF & ISOC Applied Networking Research Workshops (ANRW) provide a forum for
  researchers, vendors, network operators and the Internet standards community
  to present and discuss emerging results in applied networking research.

%p
  In order to foster this cross-community collaboration, the workshops will be
  co-located with IETF standards meetings once a year (typically in the
  summer), and will be organized in a way that allows ample time for
  discussion and interaction, and not just paper presentations.

%h2 Upcoming and Past ANRWs
.row
  - @items.find_all(%r{./(\d+)/index.*}).reverse.each do |item|
    .col-xs-6.col-sm-4.col-md-3.col-lg-3
      .thumbnail
        %a{ :href => item.path }
          %img.img-responsive{ :src => "#{item.path.split("/")[-1]}/photo.jpg", :alt => "Berlin" }
          .caption
            %h4 #{item[:menu]} at #{item[:ietf]}
            %p
              #{item[:location]}
              %br
              #{item[:date]}

.row
  .col-lg-6
    = render "/anrw/2017/sc_.*", :blurb => true
  .col-lg-6
    %h2 Sponsors
    = render "/anrw/sponsors_.*"
