---
title: Applied Networking Research Workshop (ANRW&nbsp;’23)
menu: ANRW&nbsp;’23
order: 1
location: San Francisco, USA
date: July 22-28, 2023
ietf: IETF-117
---

.hidden-xs.pull-right.col-sm-4
  %img.img-thumbnail.img-responsive{ src: 'photo.jpg', alt: "#{@item[:location]}" }
    %p.text-muted
      %small
        %a{ href: 'https://unsplash.com/photos/U4WwKmSc7_E' } Photo
        by Dwain Norsa on
        %a{ href: 'https://unsplash.com/' } Unsplash

%p
  The ACM/IRTF Applied Networking Research Workshop 2023 (ANRW’23) is an
  academic workshop that provides a forum for researchers, vendors, network
  operators, and the Internet standards community to present and discuss
  emerging results in applied networking research, and to find inspiration
  from topics and open problems discussed at the IETF. The workshop will
  consist of a mix of invited talks, submitted talks, and submitted short
  papers.

%p 
  ANRW’23 particularly encourages the submission of results that could
  form the basis for future engineering work in the IETF, that could help
  better specify Internet protocols, that could change operational Internet
  practices, or that could influence further research and experimentation
  in the IRTF. ANRW’23 is sponsored by ACM SIGCOMM, and the Internet
  Research Task Force (IRTF).

%p.lead= render '/anrw/2023/place_.*'

%h2 Important Dates
= render '/anrw/2023/dates_.*'

%h2 Supporters and Sponsors
= render '/anrw/2023/supporters_.*'
= render '/anrw/sponsors_.*'
