---
title: ANRW&nbsp;‘16 Program
menu: Program
---

%h1 Preliminary Workshop Program

%p= render "/anrw/2016/place_.*"

%p
  The workshop is open to all;
  %a{ :href => "https://www.internetsociety.org/form/anrw" }
    registration and payment of the registration fee
  is however required.

%p
  The ANRW&nbsp;‘16 is being recorded and
  %a{ :href => "http://www.meetecho.com/ietf96/anrw/" } live-streamed.
  The recordings will be made available on this page after the event.

%p
  Participants in the ANRW&nbsp;‘16 are encouraged to attend the IETF-96
  meeting, which will be held in the same venue, starting the day after
  the workshop. The IETF offers significant registration discounts for
  full-time students, and also offers a complimentary one-day
  %a{ :href => "https://ietf.org/meeting/96/guest-day.html" } Guest Day
  pass to IETF-96 for University Professors, Students, and Local Internet
  Society Chapter Members.

%p
  Participants in the ANRW&nbsp;‘16 are also invited to the
  %a{ :href => "http://ietf96-warmup.realmv6.org/" } IETF Warm-Up! BBQ
  hosted by the
  Freie Universität Berlin.
  %a{ :href => "https://www.eventbrite.com/e/ietf-warm-up-bbqfreie-universitat-berlin-tickets-25924176911"} Registration
  is required, but attendance is free of charge.

%p.btn-toolbar
  %a.btn.btn-primary{ :href => "https://www.internetsociety.org/form/anrw", :role => "button" } Register & participate »
  %a.btn.btn-success{ :href => "http://www.meetecho.com/ietf96/anrw/", :role => "button" } Tune into live stream »
  %a.btn.btn-info{ :href => "http://ietf96-warmup.realmv6.org/", :role => "button" } Attend BBQ at FU Berlin »
  %a.btn.btn-default{ :href => "https://ietf.org/meeting/96/guest-day.html", :role => "button" } Get free IETF guest pass »

- json = "content/anrw/2016/anrw16-data.json"
%table.table.table-striped
  %thead
    %tr
      %th
        Time
      %th
        Session
  %tbody
    %tr
      %td
        %h4.text-danger 9:00
      %td
        %h4.text-danger Opening
    %tr
      %td
        %h4.text-danger 9:15
      %td
        %h4.text-danger Session: Multipath

        .row= htmlify_paper(json, 16)
        .row= htmlify_paper(json, 21)
        .row= htmlify_paper(json, 3)
        .row= htmlify_paper(json, 19)


    %tr
      %td
        %h4.text-danger 10:25
      %td
        %h4.text-danger Break

    %tr
      %td
        %h4.text-danger 10:45
      %td
        %h4.text-danger Session: SDN, Routing and Peering
        %p
        .row= htmlify_paper(json, 15)
        .row= htmlify_paper(json, 24)
        .row= htmlify_paper(json, 5)
        .row= htmlify_paper(json, 6)

    %tr
      %td
        %h4.text-danger 11:55
      %td
        %h4.text-danger Lunch & Posters

    %tr
      %td
        %h4.text-danger 13:00
      %td
        %h4.text-danger Session: Transport Quality and "Happy Eyeballs"
        %p
        .row= htmlify_paper(json, 9)
        .row= htmlify_paper(json, 27)
        .row= htmlify_paper(json, 28)

    %tr
      %td
        %h4.text-danger 14:05
      %td
        %h4.text-danger Session: Measurement
        %p
        .row= htmlify_paper(json, 12)
        .row= htmlify_paper(json, 13)
        .row= htmlify_paper(json, 29)
        .row= htmlify_paper(json, 17)
        .row= htmlify_paper(json, 2)

    %tr
      %td
        %h4.text-danger 14:55
      %td
        %h4.text-danger Break & Posters

    %tr
      %td
        %h4.text-danger 15:45
      %td
        %h4.text-danger Session: Internet Media
        %p
        .row= htmlify_paper(json, 14)
        .row= htmlify_paper(json, 25)

    %tr
      %td
        %h4.text-danger 16:45
      %td
        %h4.text-danger Closing Keynote

    %tr
      %td
        %h4.text-danger 17:15
      %td
        %h4.text-danger Wrap-Up, Discussion and Closing

    %tr
      %td.text-center &#8942;
      %td

    %tr
      %td
        %h4.text-danger 19:00
      %td
        %h4.text-danger IETF Warm-Up! BBQ
        %p
          Hosted by the Freie Universität Berlin, free but
          %a{ :href => "http://ietf96-warmup.realmv6.org/" } registration required.
