---
title: ANRW&nbsp;‘16 Program
menu: Program
---

%h1 Workshop Program

%p= render "/anrw/2016/place_.*"

%p
  The workshop is open to all;
  %a{ :href => "https://www.internetsociety.org/form/anrw" }
    registration and payment of the registration fee
  is however required.

%p
  The ANRW&nbsp;‘16 is being recorded and
  %a{ :href => "http://www.meetecho.com/ietf96/anrw/" } live-streamed.
  The recordings will be made available on this page after the event.

%p
  %a.btn.btn-primary{ :href => "https://www.internetsociety.org/form/anrw", :role => "button" } Register & participate »
  %a.btn.btn-success{ :href => "http://www.meetecho.com/ietf96/anrw/", :role => "button" } Tune into live stream »

%table.table.table-striped
  %thead
    %tr
      %th
        Time
      %th
        Session
  %tbody
    %tr
      %td
        %h4 9:00
      %td
        %h4 Opening
    %tr
      %td
        %h4 9:15
      %td
        %h4 Session: Multipath

        .row= htmlify_paper("content/anrw/2016/anrw16-data.json", 16)
        .row= htmlify_paper("content/anrw/2016/anrw16-data.json", 21)
        .row= htmlify_paper("content/anrw/2016/anrw16-data.json", 3)
        .row= htmlify_paper("content/anrw/2016/anrw16-data.json", 19)


    %tr
      %td
        %h4 10:25
      %td
        %h4 Break

    %tr
      %td
        %h4 10:45
      %td
        %h4 Session: Routing and Peering
        %p
        .row= htmlify_paper("content/anrw/2016/anrw16-data.json", 15)
        .row= htmlify_paper("content/anrw/2016/anrw16-data.json", 24)
        .row= htmlify_paper("content/anrw/2016/anrw16-data.json", 5)
        .row= htmlify_paper("content/anrw/2016/anrw16-data.json", 6)

    %tr
      %td
        %h4 11:55
      %td
        %h4 Lunch & Posters

    %tr
      %td
        %h4 13:00
      %td
        %h4 Session: Transport Quality and "Happy Eyeballs"
        %p
        .row= htmlify_paper("content/anrw/2016/anrw16-data.json", 9)
        .row= htmlify_paper("content/anrw/2016/anrw16-data.json", 27)
        .row= htmlify_paper("content/anrw/2016/anrw16-data.json", 28)

    %tr
      %td
        %h4 14:05
      %td
        %h4 Session: Measurement
        %p
        .row= htmlify_paper("content/anrw/2016/anrw16-data.json", 12)
        .row= htmlify_paper("content/anrw/2016/anrw16-data.json", 13)
        .row= htmlify_paper("content/anrw/2016/anrw16-data.json", 29)
        .row= htmlify_paper("content/anrw/2016/anrw16-data.json", 17)
        .row= htmlify_paper("content/anrw/2016/anrw16-data.json", 2)

    %tr
      %td
        %h4 14:55
      %td
        %h4 Break & Posters

    %tr
      %td
        %h4 15:45
      %td
        %h4 Session: Internet Media
        %p
        .row= htmlify_paper("content/anrw/2016/anrw16-data.json", 14)
        .row= htmlify_paper("content/anrw/2016/anrw16-data.json", 25)

    %tr
      %td
        %h4 16:45
      %td
        %h4 Closing Keynote

    %tr
      %td
        %h4 17:15
      %td
        %h4 Wrap-Up, Discussion and Closing
