---
is_hidden: true
---

- year = item.path.split("/")[2]
- loc = @item.path =~ /^\/[^\/]*$/ ? "" : @item.path.gsub(/\w+\.\w+$/, "").gsub(/[^\/\.]+/, "..").gsub(/^\//, "")

!!! 5
%html{ :lang => "en" }
  = render "/head_.*", :loc => "#{loc}"

  %body
    %nav.navbar.navbar-default
      .container-fluid
        %h1 <small>IRTF & Internet Society, in Cooperation with ACM SIGCOMM</small> <br>Applied Networking Research Workshop #{year}
        .navbar-header
          %a.navbar-brand{ :href => "../" } ANRW Series
          %button.navbar-toggle.collapsed{ :type => "button", "data-toggle" => "collapse", "data-target" => "#anrw-collapse", "aria-expanded" => "false" }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        .collapse.navbar-collapse#anrw-collapse
          %ul.nav.navbar-nav
            - (@items.find_all(%r{./#{year}}).sort_by do |item| item.path ? item.path : "" end).each do |item|
              - if (item.path =~ %r{(/|html)$})
                %li{ :class => ("active" if item[:menu] == @item[:menu])}
                  %a{ :href => "." + item.path.split(year)[-1] } #{item[:menu]}

    .container-fluid
      .alert.alert-danger.alert-dismissible
        %button{ :type => "button", :class => "close", "data-dismiss" => "alert", "aria-label" => "Close"}
          %span{ "aria-hidden" => "true"} &times
        %span.glyphicon.glyphicon-alert{ "aria-hidden" => "true" }
        Do not share URL with others yet!
      = yield

    = render "/footer_.*", :loc => "#{loc}"
    = render "/scripts_.*", :loc => "#{loc}"
