- year = item.path.split('/')[2]

!!! 5
%html{ lang: 'en' }
  = render '/head5_.*'

  %body.d-flex.flex-column.min-vh-100
    %div.container
      %div.row.mt-4.mb-4
        - if @items["/img/anrw_logo_#{year}.png"]
          %div.col-sm-6
            %img.img-fluid{ src: relative_path_to("/img/anrw_logo_#{year}.png") }
        - else
          %div.col-sm-6
            %h1
              %small ACM/IRTF
              %br
              Applied Networking Research Workshop #{year}
        %div.col-sm-6
          &nbsp;

    %nav.navbar.navbar-expand-sm.navbar-light
      %div.container
        %button.navbar-toggler{"type": "button", "data-bs-toggle": "collapse", "data-bs-target": "#collapsibleNavbar"}
          %span.navbar-toggler-icon

        %div.collapse.navbar-collapse#collapsibleNavbar
          %a.navbar-brand{"href": relative_path_to("/anrw/") } ANRW Series

          %div.collapse.navbar-collapse#collapsibleNavbar
            %ul.navbar-nav
              - (@items.find_all(%r{./#{year}}).sort_by do |item| item.path ? item.path : '' end).each do |item|
                - if item.path =~ %r{(/|html)$} and not item[:menu_hidden] and not item[:other]
                  %li.nav-item{ :class => ('active' if item[:menu] == @item[:menu]) }
                    %a.nav-link{ :href => '.' + item.path.split(year)[-1] } #{item[:menu]}
              - if @items.find_all(%r{./#{year}}).count{|x| x[:other]} > 0
                %li.nav-item.dropdown{ :class => ('active' if @items.find_all(%r{./#{year}}).count{|x| x[:other] and x[:menu] == @item[:menu]} > 0) }
                  %a.nav-link.dropdown-toggle{ "href": "#", "role": "button", "data-bs-toggle": "dropdown"} Other
                  %ul.dropdown-menu
                    - (@items.find_all(%r{./#{year}}).sort_by do |item| item.path ? item.path : '' end).each do |item|
                      - if (item.path =~ %r{(/|html)$} and not item[:menu_hidden] and item[:other])
                        %li{ :class => ('active' if item[:menu] == @item[:menu]) }
                          %a.dropdown-item{ :href => '.' + item.path.split(year)[-1] } #{item[:menu] }

    %div.container
      = yield

    = render "/footer5_.*", :irtf => true
    = render '/scripts5_.*'
