- id = item.identifier.without_ext.sub("/concluded/", "").tr("/", "")
- title = @item[:title] ? @item[:title] : $rgs[id].name
- abbrev = @item[:title] ? "" :$rgs[id].acronym

-# encoding: utf-8
!!! 5
%html{ :lang => "en" }
  = render "/head5_.*", :concluded => false

  %body.d-flex.flex-column.min-vh-100
    = render "/menu5_.*"
    %div.container.mb-5
      %div.row.mt-4.bt-4
        - if not @item[:logo_hidden]
          %div.col-sm-8.col-xs-12.mb-4
            %h1
              #{title}
              %small #{abbrev}
        - else
          %div.col-sm-12.mb-4
            %h1
              #{title}
              %small #{abbrev}

        - if not @item[:logo_hidden]
          %div.col-sm-4.col-xs-12.text-center.mb-4.d-none.d-sm-block
            %a{:href => "/"}
              %img.img-fluid{:src => relative_path_to("/img/irtf.png"), :alt => "Internet Research Task Force (IRTF)"}

      - if $rgs[id] != nil
        %div.row
          %div.col-sm-8
            = yield
          %div.col-sm-4
            = render "/rightbar_.*"
      - else
        = yield

    = render "/footer5_.*", :irtf => true
    = render "/scripts5_.*"
