- id = item.identifier.without_ext.sub("/concluded/", "").tr("/", "")
- title = @item[:title] ? @item[:title] : $rgs[id].name
- abbrev = @item[:title] ? "" :$rgs[id].acronym
- loc = @item.path =~ /^\/[^\/]*$/ ? "" : @item.path.gsub(/\w+\.\w+$/, "").gsub(/[^\/\.]+/, "..").gsub(/^\//, "")

-# encoding: utf-8
!!! 5
%html{ :lang => "en" }
  = render "/head_.*", :concluded => false, :loc => "#{loc}"

  %body.irtf
    = render "/menu_.*", :loc => "#{loc}"
    .container-fluid
      .row
        - if not @item[:logo_hidden]
          .col-sm-8.col-xs-12
            %h1
              #{title}
              %small #{abbrev}
        - else
          .col-sm-12
            %h1
              #{title}
              %small #{abbrev}

        - if not @item[:logo_hidden]
          .col-sm-4.hidden-xs
            %a{:href => "./"}
              %img.img-responsive.pull-right{:src => "#{loc}img/irtf.png",
                   :alt => "Internet Research Task Force (IRTF)"}

      - if $rgs[id] != nil
        .row
          .col-sm-8
            = yield
          .col-sm-4.rightbar
            = render "/rightbar_.*", :loc => "#{loc}"
      - else
        = yield

    = render "/footer_.*", :loc => "#{loc}", :irtf => true
    = render "/scripts_.*", :loc => "#{loc}"
