-# encoding: utf-8
!!! 5
%html{ :lang => "en" }
  - title = @item[:title]
  - @item[:title] = "IRTF " + title + " [CONCLUDED]"
  = render "head_", :loc => "../"
  - @item[:title] = title

  %body
    .container
      .content
        .logoleft
          .ribbon
            %p Concluded

          .logo
            %a{:href => "../"}
              %img{:src => "../img/irtf.png", :width => 150, :height => 107,
                   :alt => "Internet Research Task Force (IRTF)"}
          .title.withribbon
            %h1 #{@item[:title]}
    
        .nav
          = render "leftbar_", :loc => "../"
          
        .main
          -# Anchor for skip navigation links
          %a{ :name => "content" } 

          .rightbar
            .news
              %h2 Note
              %p This Research Group has concluded and is no longer active.
              %p The charter and other information on this page is provided as a record of history. Email addresses and links may no longer function.
              %p
                For inquiries about this former Research Group, please email
                = link_to("irtf-discuss@irtf.org", "../mailman/listinfo/irtf-discuss") + "."

          = yield
        
      .layout_footer
      
    .footer
      = render "footer_", :loc => "../"

    = render "scripts_", :loc => "../"      