-# encoding: utf-8
!!! 5
%html{ :lang => "en" }
  = render "head_", :loc => ""

  %body
    .container
      .content
        .nav
          = render "leftbar_", :loc => "" 
        
        .logoright
          .logo
            %a{:href => "./"}
              %img{:src => "img/irtf.png", :width => 200, :height => 143,
                   :alt => "Internet Research Task Force (IRTF)"}
          .title
            %h1 #{@item[:title]}
    
        .main
          -# Anchor for skip navigation links
          %a{ :name => "content" } 
          = yield
    
      .layout_footer
      
    .footer
      = render "footer_", :loc => ""

    = render "scripts_", :loc => ""