-# encoding: utf-8
!!!
%html{ xmlns: "http://www.w3.org/1999/xhtml" }
  = render "head_"

  %body
    .container
      .content
        .leftbar
          = render "leftbar_"
        
        .main
          %div
            .title
              %h1= @item[:title]
            .logo
              %a{:href => "./"}
                %img{:src => "img/irtf.png", :width => 200, :height => 139,
                     :alt => "Internet Research Task Force (IRTF)"}
            .clear
    
          = yield
    
        .layout_footer
      
    .footer
      = render "footer_"

    = render "scripts_"