-# encoding: utf-8
!!! 5
%html{ :lang => "en" }
  = render "head_", :loc => ""

  %body
    .container
      .content 
        .logoleft
          .logo
            %a{:href => "./"}
              %img{:src => "img/irtf.png", :width => 150, :height => 107,
                   :alt => "Internet Research Task Force (IRTF)"}
          .title
            %h1 #{@item[:title]}
    
        .nav
          = render "leftbar_", :loc => ""
          
        .main
          -# Anchor for skip navigation links
          %a{ :name => "content" } 

          - rg = $rgs[item.identifier.tr("/", "")]
          - if rg != nil
            .rightbar= render "rightbar_", :loc => ""
          = yield
        
      .layout_footer
      
    .footer
      = render "footer_", :loc => ""

    = render "scripts_", :loc => ""