-# convenience shortcuts
- rg = $rgs[item.identifier.tr("/", "")]
- name = rg.name
- acronym = rg.acronym.upcase

%h2 Chair#{rg.chairs.length > 1 ? "s" : ""}
%p
  #{rg.acronym =~ /rg$/i ? "The" : ""} #{acronym} is chaired by
  - first = rg.chairs.take(rg.chairs.length - 1).map {|x| x.hamlify }.compact.join(", ")
  = (first != "" ? "#{first} and " : "") + rg.chairs.last.hamlify + "."

- if rg.secretaries
  %h2 Secretar#{rg.secretaries.length > 1 ? "ies" : "y"}
  %p
    - first = rg.secretaries.take(rg.secretaries.length - 1).map {|x| x.hamlify }.compact.join(", ")
    = (first != "" ? "#{first} and " : "") + rg.secretaries.last.hamlify
    act#{rg.secretaries.length > 1 ? "" : "s"}
    as group secretar#{rg.secretaries.length > 1 ? "ies" : "y"}.

%h2 Mailing List
%p
  The #{acronym} mailing list is
  = link_to(rg.list, "mailto:#{rg.list}") + "."
  To subscribe or access the list archives, visit the
  = link_to("mailman page", rg.listweb) + "."

- if rg.web then
  %h2 Web Page
  %p
    Additional #{acronym} information is available at
    = link_to(rg.web, rg.web) + "."

- if rg.chartered || rg.concluded then
  %h2 Timeline
- if rg.chartered && rg.concluded then
  %p The #{acronym} was chartered on #{rg.chartered} and concluded its work on #{rg.concluded}.
- elsif rg.chartered then
  %p The #{acronym} was chartered on #{rg.chartered}.
- elsif rg.concluded then
  %p The #{acronym} concluded its work on #{rg.concluded}.
