---
title: Applied Networking Research Workshop (ANRW&nbsp;’18)
menu: ANRW&nbsp;’18
order: 6
location: Montreal, Quebec, Canada 
date: July 16, 2018
ietf: IETF-102
---

%div.row
  %div.col-sm-8.col-xs-12
    %p
      The ACM, IRTF &amp; ISOC Applied Networking Research Workshop 2018
      (ANRW’18) is an academic workshop that provides a forum for researchers,
      vendors, network operators, and the Internet standards community to
      present and discuss emerging results in applied networking research. Our
      other goal is to create a path for <strong>academics to transition
      research back into the IETF standards and protocols</strong> and for
      academics to find inspiration from topics and open problems addressed at
      the IETF.

    %p
      <strong>We are particularly interested in topics that focus on wide-area networks and network security</strong>, but applied networking topics outside of these focus areas are also welcome.

    %p.lead= render '/anrw/2018/place_.*'

    %h2 Important Dates
    = render '/anrw/2018/dates_.*'

    %h2 Supporters and Sponsors
    = render '/anrw/2018/supporters_.*'
    = render '/anrw/sponsors_.*'

  %div.col-sm-4.d-none.d-sm-block
    %img.img-fluid{ src: 'photo.jpg', alt: "#{@item[:location]}" }

