---
title: ANRW&nbsp;’18 Posters
menu: Posters
---

-# %p
-#   The workshop is open to all;
-#   %a{ :href => "https://www.internetsociety.org/form/anrw" }
-#     registration and payment of the registration fee
-#   is however required.

%h1 Workshop Posters

- json = "content/anrw/2018/anrw18-posters-data.json"
%table.table.table-striped.no-urlify
  %thead
    %tr
      %th
        Poster
  %tbody
    %tr
      %td
        .row= htmlify_poster(json, 19)
        .row= htmlify_poster(json, 20)
        .row= htmlify_poster(json, 23)
        .row= htmlify_poster(json, 25)
        .row= htmlify_poster(json, 27)
        .row= htmlify_poster(json, 30)
        .row= htmlify_poster(json, 31)
        .row= htmlify_poster(json, 33)
        .row= htmlify_poster(json, 40)
        .row= htmlify_poster(json, 42)
        .row= htmlify_poster(json, 43)
        .row= htmlify_poster(json, 44)
        .row= htmlify_poster(json, 46)
        .row= htmlify_poster(json, 48)
        .row= htmlify_poster(json, 53)
        .row= htmlify_poster(json, 55)
        .row= htmlify_poster(json, 60)
        .row= htmlify_poster(json, 61)
