---
title: Applied Networking Research Workshop (ANRW&nbsp;’22)
menu: ANRW&nbsp;’22
order: 1
location: Philadelphia, USA
date: July 23-29, 2022
ietf: IETF-114
---

.hidden-xs.pull-right.col-sm-4
  %img.img-thumbnail.img-responsive{ src: 'photo.jpg', alt: "#{@item[:location]}" }
    %p.text-muted
      %small
        %a{ href: 'https://unsplash.com/photos/guy5aS3GvgA' } Photo
        by ActionVance on
        %a{ href: 'https://unsplash.com/' } Unsplash

%p
  The ACM/IRTF Applied Networking Research Workshop 2022 (ANRW’22) is an
  academic workshop that provides a forum for researchers, vendors, network
  operators, and the Internet standards community to present and discuss
  emerging results in applied networking research, and to find inspiration
  from topics and open problems discussed at the IETF. The workshop will
  consist of a mix of invited talks, submitted talks, and submitted short
  papers.

%p 
  ANRW’22 particularly encourages the submission of results that could
  form the basis for future engineering work in the IETF, that could help
  better specify Internet protocols, that could change operational Internet
  practices, or that could influence further research and experimentation
  in the IRTF. ANRW’22 is sponsored by ACM SIGCOMM, and the Internet
  Research Task Force (IRTF).

%p.lead= render '/anrw/2022/place_.*'

%h2 Important Dates
= render '/anrw/2022/dates_.*'

%h2 Supporters and Sponsors
= render '/anrw/2022/supporters_.*'
= render '/anrw/sponsors_.*'
